.command {
    text-align: center;
    h2 {
        text-align: center;
        margin-top: 40px;
        margin-bottom: 16px;
        font-size: 32px;
        line-height: 40px;
        font-weight: 600;
        color: #2C2D2E;
        span {
            color: #EF7C00;
        }
    }
    ul {
        display: flex;
        align-items: center;
        // flex-wrap: wrap;
        justify-content: space-between;
        li {
            width: 203px;
            text-align: center;
            img {
                border-radius: 50%;
                margin-bottom: 12px;
            }
            h3 {
                font-weight: 500;
                font-size: 15px;
                line-height: 20px;
                margin-bottom: 5px;
            }
            p {
                font-size: 13px;
                line-height: 13px;
                font-weight: 500;
                color: #2C2D2E;
            }
            .info {
                color: #919399;
                margin-bottom: 12px;
            }
            .tel {
                margin-bottom: 8px;
            }
        }
    }
    button {
        margin-top: 32px;
        margin-bottom: 40px;
        padding: 10px 20px;
        border-radius: 5px;
        color: #EF7C00;
        background-color: white;
        border: 1px solid #EF7C00;
        transition: all 0.4s ease;
        &:hover {
            color: white;
            background-color: #EF7C00;
        }
    }
}